@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(240,253,244);
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8dadc
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background:#a8dadc !important;
}

/* remove scrollbar in chrome */
html::-webkit-scrollbar{
    display:none;
}

/* remove scrollbar in firefox */
html{
    scrollbar-width:none
}